@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

/* -- HOME PAGE */
/* 
#homePage {
    background-color: #26292B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

#homePage h1,
h2 {
    color: #D9D9D9;
    font-weight: normal
}

#homePage h1 {
    font-size: 4rem;
    letter-spacing: 0.5em;
}

#homePage h2 {
    font-size: 3rem;
} */
.homePageClass {
    overflow: hidden;
}

#homePage {
    background-color: #26292B;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#homePage::-webkit-scrollbar {
    width: 0.5em;
}

#homePage::-webkit-scrollbar-thumb {
    background-color: #26292B;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#homePage h1, #homePage h2 {
    color: #D9D9D9;
    font-weight: normal;
    margin: 0;
}

#homePage h1 {
    font-size: 4rem;
    letter-spacing: 0.5em;
}

#homePage h2 {
    font-size: 3rem;
}

#homePage a {
    margin-bottom: 20px; /* Ajustez la marge en fonction de l'espace que vous souhaitez entre le texte et le bouton */
    margin-left: 50%;
}


/* -- NAVBAR */

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #D9D9D9;
    padding-top: 5px;
}
.dark {
    background-color: #26292B;
    color: #D9D9D9;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-left: 15px;
}

.logo img:hover {
    cursor: pointer;
}

.navbar a {
    font-size: 1.3rem;
}

#a:hover {
    color: #AC53D8;
    position: relative;
}

#a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #AC53D8;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#a:hover::before {
    transform: scaleX(1);
}

/* -- A PROPOS */

#aPropos {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}

h3 {
    font-weight: normal
}

.containeraPropos {
    position: relative;
}

/* .containeraPropos ::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background-color: blue;
} */

.cv {
    color: #AC53D8;
}

.cv:hover {
    cursor: pointer;
}

.containeraPropos p {
    font-size: 1.5em;
}

h3 {
    font-size: 3em;
    padding-top: 50px;
    padding-left: 30px;
}

.paragraphe {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.paragraphe p {
    font-size: 1.8rem;
}

.skillFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;

}

.skill {
    width: 250px;
    height: 150px;
    border: #26292B solid 1px;
    border-radius: 10px;
    background-color: #26292B;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.skill p {
    font-size: 1.2em;
    color: #D9D9D9;
    text-align: center;
}

.h3Dark {
    color: #D9D9D9;
}

#Projet {
    width: 100%;
    height: 100%;
    background-color: #26292B;
}

.projet {
    width: 250px;
    height: 200px;
    border: #D9D9D9 solid 1px;
    border-radius: 10px;
    background-color: #D9D9D9;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projet button {
    width: 125px;
    height: 35px;
    background-color: #26292B;
    color: #D9D9D9;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

#Stage {
    width: 100%;
    background-color: #D9D9D9;
}

.containerStage {
    position: relative;   
}

h5 {
    font-weight:500;
    font-family: Odibee Sans;
}

.week {
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;
}

.week p {
    width: 750px;
}

.week h5 {
    font-size: 1.5em;
    color: #26292B;
}

.containerStage p {
    font-size: 1em;
    color: #26292B;
}

.containerStage h3 {
    font-size: 3em;
    padding-top: 50px;
    padding-left: 30px;
    color:#26292B;
}
 .semaine {
    display: flex;
 }

 #Contact {
    background-color: #26292B;
 }

 #Contact h3 {
    color: #D9D9D9;
    padding-bottom: 100px;
 }
.info {
    padding-left: 75px;
}

 .info img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
 }

 .info a {
    display: flex;
    align-items: center;
    justify-content: start;
 }

 .info p {
    color: #D9D9D9;
    font-size: 1.2em;
 }